<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="eas" type="EAS.ConfigHandler,EAS.MicroKernel" />
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0"/>
  </startup>
  <eas>
    <configurations>
      <item name="Key" value="Value" />
    </configurations>
    <objects>
      <!--From数据库-->
      <object name="FromProvider" assembly="EAS.Data" type="EAS.Data.Access.SqlClientProvider" LifestyleType="Thread">
        <property name="ConnectionString" type="string" value="Server=.;DataBase=txhis;Integrated Security=SSPI;Connect Timeout=30" />
      </object>
      <object name="FromDataAccessor" assembly="EAS.Data" type="EAS.Data.Access.DataAccessor" LifestyleType="Thread">
        <property name="DbProvider" type="object" value="FromProvider" />
        <property name="Language" type="object" value="TSqlLanguage"/>
      </object>
      <object name="FromOrmAccessor" assembly="EAS.Data" type="EAS.Data.ORM.OrmAccessor" LifestyleType="Thread">
        <property name="DataAccessor" type="object" value="FromDataAccessor" />
      </object>
      <!--To数据源-->
      <object name="ToDbProvider" assembly="EAS.Data.Provider" type="EAS.Data.Access.OracleProvider" LifestyleType="Thread">
        <property name="ConnectionString" type="string" value="Data Source=HIS;User Id=HIS;Password=SA;Integrated Security=No" />
      </object>
      <object name="ToDataAccessor" assembly="EAS.Data" type="EAS.Data.Access.DataAccessor" LifestyleType="Thread">
        <property name="DbProvider" type="object" value="ToDbProvider"/>
        <property name="Language" type="object" value="PLSqlLanguage"/>
      </object>
      <object name="ToOrmAccessor" assembly="EAS.Data" type="EAS.Data.ORM.OrmAccessor" LifestyleType="Thread">
        <property name="DataAccessor" type="object" value="ToDataAccessor"/>
      </object>
      <!--查询语言-->
      <object name="TSqlLanguage" assembly="EAS.Data" type="EAS.Data.Linq.TSqlLanguage" LifestyleType="Thread"/>
      <object name="PLSqlLanguage" assembly="EAS.Data.Provider" type="EAS.Data.Linq.PLSqlLanguage" LifestyleType="Thread"/>
      <!--日志管理-->
      <object name="Logger" assembly="EAS.MicroKernel" type="EAS.Loggers.TextLogger" LifestyleType="Singleton" />
    </objects>
  </eas>
</configuration>

